<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
        <title>The latest 5 poll questions</title>
    </head>
    <body>
        {% if latest_question_list %}
            <h1 class="text-centered">The latest 5 poll questions</h1>
            <ul>
                {% for question in latest_question_list %}
                <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </body>
</html>